<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StartupPage" value="pack://application:,,,/Exercise;component/View/HomePage.xaml" />
    <add key="ServiceUri" value="http://homework.idev.talcloud.com/homework/api/v1/answerCardApp" />
  </appSettings>
</configuration>