<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="account" type="Account.AccountConfig,Account" allowExeDefinition="MachineToLocalUser" />
    <section name="m2mqtt" type="MessagePush.Mqtt.M2MqttConfig,MessagePush" allowExeDefinition="MachineToLocalUser" />
    <section name="exercise" type="Exercise.ExerciseConfig,Exercise" allowExeDefinition="MachineToLocalUser" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
  </appSettings>
  <account>
    <StartupWindow Value="pack://application:,,,/Exercise;component/View/HomePage.xaml"/>
    <ServiceUri Value="http://zx.ishow.talcloud.com/homework/api/v1/answerCardApp"/>
    <ServiceUris>
      <add Name="开发环境" Value="http://zx.idev.talcloud.com/homework/api/v1/answerCardApp"/>
      <add Name="测试环境" Value="http://zx.itest.talcloud.com/homework/api/v1/answerCardApp"/>
      <add Name="联调环境" Value="http://zx.iunion.talcloud.com/homework/api/v1/answerCardApp"/>
      <add Name="线上环境" Value="http://zx.ipub.talcloud.com/homework/api/v1/answerCardApp"/>
      <add Name="演示环境" Value="http://zx.ishow.talcloud.com/homework/api/v1/answerCardApp"/>
    </ServiceUris>
  </account>
  <exercise />
  <m2mqtt
    ServiceUri="mqtt-cn-v6419rnxz01.mqtt.aliyuncs.com"
    InstanceId="mqtt-cn-v6419rnxz01"
    GroupId="GID-SEG-DEV-APP-EXERCISE"
    AccessKey="LTAI2ZHy84cB5Zji"
    SecretKey="sIrFBrtRtDCHhh6C1LQlor6xFbzYsi"
    ParentTopic="seg-dev-app-exercise-"
    KeepAlivePeriod="60"
    />
  <runtime>
  </runtime>
</configuration>