<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StartupWindow" value="pack://application:,,,/Exercise;component/View/HomePage.xaml" />
    <add key="ServiceUri" value="http://zx.ishow.talcloud.com/homework/api/v1/answerCardApp" />
    <add key="MqttUri" value="mqtt-cn-v6419rnxz01.mqtt.aliyuncs.com" />
    <add key="MqttInstanceId" value="mqtt-cn-v6419rnxz01" />
    <add key="MqttGroupId" value="GID_APP_EXERCISE" />
    <add key="MqttKeepAlivePeriod" value="60" />
    <add key="MqttParentTopic" value="seg-dev-app-exercise-" />
  </appSettings>
  <runtime>
  </runtime>
</configuration>