[submodule "submodule/Saraff.Twain.NET"]
	path = submodule/Saraff.Twain.NET
	url = https://github.com/cmguo/Saraff.Twain.NET.git
[submodule "submodule/PanuonUI"]
	path = submodule/PanuonUI
	url = https://github.com/cmguo/PanuonUI.git
